  @media (min-width: 750px) {

      .grid_1-1{
        display:grid;
        grid-template-columns: 1fr 1fr;
      }
    
      .grid_1-1-1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        margin:20px;
        text-align: center;
        padding-bottom: 30px;
        padding-top:30px;
      }
  }

  @media (max-width: 750px) {

  /*LAG*/
  .LAG{
    font-size:15px;
    color: #FFB000;
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:10px;
  }

      .grid_1-1-1{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        margin:20px;
        text-align: center;
        padding-bottom: 30px;
        padding-top:30px;
      }

      /*HERO-IMAGE*/

  .hero-image {
    position: relative;
    width: 100%;
    height:220px;
    background: linear-gradient(rgba(76, 103, 95, 0.5), rgba(46, 45, 45, 0.5)), url(indhold/img/heroimage_cropped.jpg.webp) no-repeat 50% 0% fixed;
    background-size: 100%;
    overflow: hidden;
  }

  .heroh1_2{
    margin:0;
    padding:0;
    text-align:right;
    color:white;
    font-size:40px;
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top:30px;
  }

  .heroh1{
    margin:0;
    padding:0;
    text-align:left;
    color:white;
    font-size:50px;
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top:52px;
  }

  .heroh2{
    margin:0;
    padding:0;
    text-align:left;
    color:white;
    font-size:30px;
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

   /*LINKS I TOPPEN*/

   .billetter{
    text-align:left;
    font-size:20px;
    color: #FFB000;
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding-top: 20px;
  }

  .billetter:hover {
    color: #D9522F;
  }

  /*knapper på slideshow*/

  .arrow {
    color: #FFB000;
    font-size: 2em;
    position: absolute;
    top: 168%;
    left:5%;
    width: 90%;
  
  }
  .previous {
    float: left;
    cursor: pointer;
    opacity: 0.1s;
  }
  .previous:hover {
    opacity: 1;
  }
  .next {
    float: right;
    cursor: pointer;
    opacity: 0.1s;
  }
  
  .next:hover {
    opacity: 1;
  }

/*os tothaven img*/
.ostothaven{
    padding-top:20px;
}

.lottiefile{
    width: 450px;
    height: 152px;
}   

}
