* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  padding: 0;
  margin: 0;
}

/***** Burger menu *****/

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ba431f;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #47a1a1;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #bce0cd;

    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/************** Desktop menu *************/

header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  font-style: normal;
  background-color: #bce0cd;
}
header .logo a {
  display: flex;
  width: 100%;
}
.logo {
  display: flex;
  width: 30%;
  height: auto;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}
a {
  text-decoration: none;
  font-weight: 700;
  color: #ba431f;
}
a:hover {
  color: #47a1a1;
}

/**** Footer *****/

footer {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  font-family: "Cinzel", serif;
  font-weight: 200;
  color: black;
  text-decoration: none;
  background-color: #bce0cd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.kontakt {
  color: #ba431f;
  font-size: 1.2rem;
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.info {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.follow {
  color: #ba431f;
  font-size: 1.2rem;
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.insta {
  color: black;
  text-decoration: underline;
  font-weight: 200;
  font-family: "DM Sans", sans-serif;
}

.facebook {
  color: black;
  text-decoration: underline;
  font-weight: 200;
  font-family: "DM Sans", sans-serif;
}

.adresse {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  line-height: 0.8;
  padding-top: 10px;
}
.smiley_box {
  display: grid;
}
.smiley_box a {
  place-self: end;
}
.smiley {
  width: 12%;
  margin-inline: auto 12px;
  padding-bottom: 10px;
}

@media (max-width:750px) {

  .kontakt{
    font-size:15px;
  }

  .follow{
    font-size:15px;
  }

  .insta{
    font-size:10px;
  }

  .facebook{
    font-size:10px;
  }

  .adresse{
    padding-top:50px;
    font-size:10px;
  }

  .info{
    font-size:10px;
  }
}
